.level6-page{

    min-height:100vh;

    padding:30px 15px;

    background:
    radial-gradient(
        circle at top,
        #1E3A8A,
        #0F172A
    );

    color:white;

    text-align:center;
}

.top-bar{

    display:flex;

    justify-content:space-between;

    align-items:center;

    margin-bottom:30px;

    flex-wrap:wrap;

    gap:15px;

    text-align:center;
}

.level6-page h1{

    font-size:clamp(
        2rem,
        5vw,
        3rem
    );
}

.instruction{

    margin-bottom:35px;

    color:#CBD5E1;

    padding:0 10px;
}

.memory-grid{

    width:min(95vw,700px);

    margin:auto;

    display:grid;

    grid-template-columns:
    repeat(5,1fr);

    gap:12px;
}

.memory-card{

    aspect-ratio:1/1;

    background:#111827;

    border-radius:12px;

    display:flex;

    justify-content:center;

    align-items:center;

    font-size:2rem;

    cursor:pointer;

    transition:0.3s;

    border:2px solid #334155;

    user-select:none;
}

.memory-card:hover{

    transform:scale(1.03);
}

.show-card{

    background:#38BDF8;

    transform:rotateY(180deg);

    box-shadow:
    0 0 20px #38BDF8;
}

.game-over{

    margin-top:40px;

    padding:20px;
}

.next-btn{

    margin-top:20px;

    padding:14px 30px;

    min-height:50px;

    border:none;

    border-radius:12px;

    background:#22C55E;

    color:white;

    font-weight:bold;

    cursor:pointer;

    transition:0.3s;
}

.next-btn:hover{

    transform:scale(1.05);

    background:#16A34A;
}

@media(max-width:768px){

    .memory-grid{

        gap:8px;
    }

    .memory-card{

        font-size:1.5rem;

        border-radius:10px;
    }
}

@media(max-width:500px){

    .level6-page{

        padding:25px 10px;
    }

    .top-bar{

        flex-direction:column;

        justify-content:center;

        gap:10px;
    }

    .instruction{

        font-size:14px;
    }

    .memory-grid{

        gap:6px;
    }

    .memory-card{

        font-size:1.1rem;

        border-radius:8px;
    }

    .next-btn{

        width:90%;
    }
}